body {
    background-color: #121b38;
    color: white;
}
  a {
    color:#FFF;
  }
  svg {
    color: #FFF;
    margin:0 auto;
  }
  h5 {
    margin-top: 20px;
  }

  .gBody{
    width:900px !important;
    align-items: left;
    justify-content: left;
    white-space: 'pre-wrap'; 
    word-wrap: 'break-word';
    text-align: left;
  }

  pre {
    background-color: #F5F2F0 !important;
  }
  
  .codeCSS, .language-javascript{
    overflow: scroll;
    white-space: 'pre-wrap'; 
    word-wrap: 'break-word';
    background:#F5F2F0 !important;
    color:#000;
  }
  .codeCSS a{
    color:#000 !important;
  }

  .svg-white {
    filter: brightness(0) invert(1);
  }